<div class="content">
  <div class="elements">
    <div class="element">
      <a class="btn btn-success" href="orders/create">
        <i class="fa-solid fa-circle-plus"></i>
        Добавить заказ
      </a>
    </div>

    <div class="element">
      <table id="tb" class="table table-bordered">
        <thead>
          <tr>
            <th scope="col">Услуга</th>
            <th scope="col">Клиент</th>
            <th scope="col">Мастер</th>
            <th scope="col">Дата</th>
            <th scope="col">Время</th>
            <th scope="col">Статус</th>
            <th data-orderable="false" class="text-center" scope="col">Просмотр</th>
            <th data-orderable="false" class="text-center" scope="col">Редактировать</th>
            <th data-orderable="false" class="text-center" scope="col">Удалить</th>
          </tr>
        </thead>
        <tbody>
          {{#each orders}}
            <tr>
              <td>{{ this.service_name }}</td>
              <td>{{ this.client_fio }}</td>
              <td>{{ this.staff_fio }}</td>
              <td>{{ this.date }}</td>
              <td>{{ this.hour }}</td>
              <td>{{ this.status_order_name }}</td>
              <td class="text-center">
                <a href="orders/show/{{this.id}}">
                  <i class="fa-solid fa-eye"></i>
                </a>
              </td>
              <td class="text-center">
                <a href="orders/edit/{{this.id}}">
                  <i class="fa-solid fa-pen-to-square"></i>
                </a>
              </td>
              <td class="text-center">
                <i class="fa-sharp fa-solid fa-trash remove-element color-red" onclick="removeElement(this, {{this.id}}, '{{this.service_name}} {{this.client_fio}}')"></i>
              </td>
            </tr>
          {{/each}}
        </tbody>
      </table>
    </div>
  </div>
</div>

<script>
  $(document).ready(function() {
    $('#tb').DataTable({ 
      paging: false,
      language: {
        search: "Поиск:",
        lengthMenu: "Показать _MENU_ записей",
        info: "",
        emptyTable: "Нет данных для отображения в таблице",
        infoEmpty: "Показано с 0 по 0 из 0 записей",
        infoFiltered: "(отфильтровано из _MAX_ записей)",
      }
    });
  });

  function removeElement(element, id, name) {
    if(!confirm(`Вы действительно хотите удалить элемент ${name}`)) return null;

    $.ajax({
      url: '/orders',
      type: 'delete',
      data: {
        id
      },
      success: (res) => {
        $(element).parent().parent().remove();
      },
      error: (xhr, textStatus, error) => {
        alert(xhr.responseText);
      }
    })
  }
</script>